@import url('https://fonts.googleapis.com/css?family=Kristi|Open+Sans');

body {
	background-color: #e0e0e0;
	text-align: center;
	font-size: 18px;
	color: #4b4b4b;
	font-family: 'Open Sans', sans-serif;
	max-width: 900px;
	margin: auto;
}

h2{
	color:#4b4b4b;
	text-align: center;
	font-size: 22px;
	font-family: 'Open Sans', sans-serif;
}

h3{
	color:#4b4b4b;
	text-align: center;
	font-size: 40px;
	font-family: 'Kristi', cursive;
}
